<!DOCTYPE html>
<html class='noScroll' xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta id='viewEle' name="viewport" content="width=640,user-scalable=no,target-densitydpi = device-dpi " />
<meta name="format-detection" content="telephone = no"/>
<meta itemprop="name" content="">
<meta itemprop="description" content="">
<meta itemprop="image" content="">
<title>赶紧换标题</title>
</head>
<body>
<!--主体部分-->
<div class="content" id="content">
    <div class="page page0 lazy_load" data-pic='image/p0.jpg'>
        <div class="nr">
            <p class="abso load_num">LOADING<span id="set_load_num" >0</span></p>
        </div>
    </div>
    <div class="page page1" next-page='2'>
    	<div class="nr">
        	<p style='position:absolute;left:0;top:45%;width:100%;text-align:center;font-size:60px;'>第一页111</p>
			<img src="image/demo.jpg" alt="">
            <img src="image/hand_.png" alt="">
        </div>
    </div>
	<div class="page page2">
    	<div class="nr">
        	<p style='position:absolute;left:0;top:45%;width:100%;text-align:center;font-size:60px;'>第2页</p>
        </div>
    </div>
	<div class="page page3" next-page='1'>
    	<div class="nr">
        	<p style='position:absolute;left:0;top:45%;width:100%;text-align:center;font-size:60px;'>第3页</p>
        </div>
    </div>
</div>
<div class="micBtn" id="micBtn"><span class="cen boxSizing"></span></div>
<img class="pt-page-moveIconUp" id='upJt' src="image/icon_up.png">

<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/hammer.js/2.0.8/hammer.min.js"></script>
</body>
</html>

