@charset "utf-8";
/* CSS Document */
/*7s
@keyframes blinky {
	0%, 9%, 11%, 19%, 21%, 69%, 71%, 100% { transform: scaleY(1) }
	10%, 20%, 70% { transform: scaleY(0.1) }
}*/
.rotateWin .weui-toast {
  transform: translateY(-50%) rotate(90deg);
  transform-origin: center center;
}
.weui-toast-text .weui-icon_toast {
  display: none;
}
.weui-toast-text .weui-toast__content {
  margin: 12px 12px;
}
.weui-toast-text .weui-toast {
  min-height: auto;
  width: auto;
  margin-left: 0;
  transform: translateX(-50%);
}
.weui-toast-text.nowrap .weui-toast {
  white-space: nowrap;
}
img.block {
  display: block;
  margin-top: -1px;
}
.dw.dw-ltr {
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}
.logo {
  left: 20px;
  top: 20px;
}
.load_num {
  font-size: 0.22rem;
  left: 0;
  top: 45%;
  color: #fff;
  text-align: center;
  width: 100%;
  font-weight: bold;
}
.page1 {
  background: #966;
}
.page1 .nr {
  box-shadow: #fff 0 0 0 0.1rem inset;
  background: #1898f1;
}
.page2 {
  background: #669;
}
