@charset "utf-8";
@import './reset.css';
@import './activity.scss';
	
.page0{
	.load_num{font-size:.22rem;left:0;top:45%;color:#fff;text-align:center;width:100%;font-weight:bold;}
}

.page1 {
	background:#966;
	.nr{
		box-shadow:#fff 0 0 0 .1rem inset;
		background-color:#1898f1;
	}
	.shake{
		margin:1rem;
		width:1rem;
		height:1rem;
		background:#966;
		// -webkit-animation: shake linear 1.5s infinite;
		// animation: shake linear 1.5s infinite;

	}
	.list{
		overflow-wrap: break-word;
	}
} 

@-webkit-keyframes shake{
	0% { -webkit-transform: rotate(0deg);}
	100% { -webkit-transform: rotate(360deg);}
}
@keyframes shake{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.page2 {background:#669}
































