
/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.5 'Microsoft Yahei' arial,\5b8b\4f53;color:#333;outline:0;}
a,a:hover{color:#333;}

select, input{
  -webkit-appearance:none;
   -moz-appearance:none;
   		appearance:none;
}
html{-webkit-font-smoothing: antialiased;/*字体抗锯齿*/}

body{	
	-webkit-user-select:none;/*文本不可选择*/
	    -ms-user-select:none;
		    user-select:none;
	-webkit-user-drag: none;/*禁止拖拽*/
	    -ms-user-drag: none;
		    user-drag: none;font-family:'Microsoft Yahei',Arial;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
/* -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
    filter: grayscale(100%);
  
    filter: gray;opacity:0.5 */
			
}

/*选中文本的颜色*/
::-moz-selection {background-color: rgba(230,224,203,0.3);color: #fff8e1;}
::selection {background-color: rgba(230,224,203,0.3);color: #fff8e1;}
