/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.5 'Microsoft Yahei' arial,\5b8b\4f53;color:#333;outline:0;}
a,a:hover{color:#333;}


html{-webkit-font-smoothing: antialiased;/*字体抗锯齿*/}

body{	-webkit-user-select:none;/*文本不可选择*/
	    -ms-user-select:none;
		    user-select:none;
	-webkit-user-drag: none;/*禁止拖拽*/
	    -ms-user-drag: none;
		    user-drag: none;font-family:'Microsoft Yahei',Arial;font-size:62.5%;background:#fff;
			
-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
    filter: grayscale(100%);
	
    filter: gray;opacity:0.5
			
			}
			
			
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff; opacity:0.4; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;opacity:0.4;
}

input:-ms-input-placeholder{
    color: #fff;opacity:0.4;
}

input::-webkit-input-placeholder{
    color: #fff;opacity:0.4;
}		
	
.penetrate{pointer-events: none;}
			
.abso{position:absolute;}			

.boxSizing{box-sizing:border-box;}

.ios-scroll{-webkit-overflow-scrolling: touch}

.close_{width:60px;height:60px;line-height:50px;text-align:center;font-size:60px;color:#AC262C;background:#fff;border:4px solid #AC262C;border-radius:1000px;left:50%;top:50%;margin-left:238px;margin-top:-351px;}

.center{
justify-content:center;
align-items:center;
display:-webkit-flex;}

.noScroll,
.noScroll body{width:100%;height:100%;overflow:hidden;}	
		
/*提示分享层*/
#fx{background:rgba(0,0,0,.7);position:fixed;left:0;top:0;height:100%;width:100%;text-align:center;display:none;z-index:9999;}
#fx img{float:right;}

#tipsBox{background:rgba(0,0,0,.7);position:fixed;left:0;top:0;height:100%;width:100%;text-align:center;display:none;z-index:9999;}
#tipsBox span{background:#ccc;padding:20px;border-radius:4px;color:#333;font-size:25px;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}


/*向上滑动提示箭头*/
.pt-page-moveIconUp {display:none;height:auto;width:25px;position:absolute;left:50%;bottom:3%;margin-left:-12px;-webkit-animation: moveIconUp ease 1.5s both infinite;animation: moveIconUp ease 1.5s both infinite;}
@-webkit-keyframes moveIconUp{
	0% { -webkit-transform: translateY(100%); opacity:0;}
	50% { -webkit-transform: translateY(0%); opacity:1;}
	100% { -webkit-transform: translateY(-100%); opacity:0;}
}
@keyframes moveIconUp{
	0% {transform: translateY(100%); opacity:0;}
	50% {transform: translateY(0%); opacity:1;}
	100% {transform: translateY(-100%); opacity:0;}
}

/*选中文本的颜色*/
::-moz-selection {background-color: rgba(230,224,203,0.3);color: #fff8e1;}
::selection {background-color: rgba(230,224,203,0.3);color: #fff8e1;}

.scrollBox{min-height:250px;overflow-y:auto !important;}
.scrollBox::-webkit-scrollbar {width:6px;}
.scrollBox::-webkit-scrollbar-thumb{background:#333;border-radius:4px;}
.scrollBox::-webkit-scrollbar-resizer  {background:#333;}
.scrollBox::-webkit-scrollbar-track-piece { background:rgba(0,0,0,.2);border-radius:4px;}
.scrollBox .scrollNr{position:relative;}


/*  开启硬件加速	*/
.threeD{
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
}

.textOver{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}


.cube {
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
 
   -webkit-perspective: 1000;
   perspective: 1000;
}


.anim_linear{
	-webkit-transition:all .8s cubic-bezier(0.165, 0.84, 0.44, 1);
	        transition:all .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.anim{
	-webkit-transition:all .8s cubic-bezier(.58,2,.68,.58);
	        transition:all .8s cubic-bezier(.58,2,.68,.58);
}
	

.rotateWindows_tips{z-index:100;background:rgba(0,0,0,.8) url(../image/rotateWindows_tips.png) no-repeat center center;position:fixed;left:0;top:0;width:100%;height:100%;display:none;}


.content{width:100%;height:100%;position:relative;overflow:hidden;margin:auto;}
.page{width:100%;height:100%;position:absolute;left:0;top:0;overflow:hidden;display:none;}
.page .nr{width:640px;min-height:100%;margin:auto;position:relative;}

.horizontalWindows .content{position:absolute;left:50%;top:50%;-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}
.horizontalWindows .page .nr{position:absolute;width:1250px;height:640px;min-height:auto;left:50%;top:50%;-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}








/*.nrBox{overflow:hidden;position:absolute;     left: 0;top: 0; width: 640px;height:100%;}
.nrBox .nrBoxCont{
	position:absolute;
	left:0;
	top:0;
	width:100%; 
}*/

.micBtn{display:none;position:absolute;right:25px;top:23px;width:45px;height:45px;background:url(../image/mc.gif) no-repeat center top;cursor:pointer;}
.micBtn.hide{background-position:center -100px;}
.micBtn.show{background-position:center 0;}
.micBtn .cen{width:100%;height:100%;display:block;border-radius:100px;border:2px solid #fff;}

.horizontalWindows .micBtn{top:auto;bottom:75px;
	-webkit-transform: rotate(90deg);transform: rotate(90deg);}



.delay_0{-webkit-transition-delay:0s !important;-mos-transition-delay:0s !important;transition-delay:0s !important;}
.delay_1{-webkit-transition-delay:.05s !important;-mos-transition-delay:.05s !important;transition-delay:.05s !important;}
.delay_2{-webkit-transition-delay:.1s !important;-mos-transition-delay:.1s !important;transition-delay:.1s !important;}
.delay_3{-webkit-transition-delay:.15s !important;-mos-transition-delay:.15s !important;transition-delay:.15s !important;}
.delay_4{-webkit-transition-delay:.2s !important;-mos-transition-delay:.2s !important;transition-delay:.2s !important;}
.delay_5{-webkit-transition-delay:.25s !important;-mos-transition-delay:.25s !important;transition-delay:.25s !important;}
.delay_6{-webkit-transition-delay:.3s !important;-mos-transition-delay:.3s !important;transition-delay:.3s !important;}
.delay_7{-webkit-transition-delay:.35s !important;-mos-transition-delay:.35s !important;transition-delay:.35s !important;}
.delay_8{-webkit-transition-delay:.4s !important;-mos-transition-delay:.4s !important;transition-delay:.4s !important;}
.delay_9{-webkit-transition-delay:.45s !important;-mos-transition-delay:.45s !important;transition-delay:.45s !important;}
.delay_10{-webkit-transition-delay:.5s !important;-mos-transition-delay:.5s !important;transition-delay:.5s !important;}
.delay_11{-webkit-transition-delay:.55s !important;-mos-transition-delay:.55s !important;transition-delay:.55s !important;}
.delay_12{-webkit-transition-delay:.6s !important;-mos-transition-delay:.6s !important;transition-delay:.6s !important;}
.delay_13{-webkit-transition-delay:.65s !important;-mos-transition-delay:.65s !important;transition-delay:.65s !important;}
.delay_14{-webkit-transition-delay:.7s !important;-mos-transition-delay:.7s !important;transition-delay:.7s !important;}
.delay_15{-webkit-transition-delay:.75s !important;-mos-transition-delay:.75s !important;transition-delay:.75s !important;}
.delay_16{-webkit-transition-delay:.8s !important;-mos-transition-delay:.8s !important;transition-delay:.8s !important;}
.delay_17{-webkit-transition-delay:.85s !important;-mos-transition-delay:.85s !important;transition-delay:.85s !important;}
.delay_18{-webkit-transition-delay:.9s !important;-mos-transition-delay:.9s !important;transition-delay:.9s !important;}
.delay_19{-webkit-transition-delay:.95s !important;-mos-transition-delay:.95s !important;transition-delay:.95s !important;}
.delay_20{-webkit-transition-delay:1s !important;-mos-transition-delay:1s !important;transition-delay:1s !important;}
.delay_21{-webkit-transition-delay:1.05s !important;-mos-transition-delay:1.05s !important;transition-delay:1.05s !important;}

.delay_22{-webkit-transition-delay:1.1s !important;-mos-transition-delay:1.1s !important;transition-delay:1.1s !important;}
.delay_23{-webkit-transition-delay:1.15s !important;-mos-transition-delay:1.15s !important;transition-delay:1.15s !important;}
.delay_24{-webkit-transition-delay:1.2s !important;-mos-transition-delay:1.2s !important;transition-delay:1.2s !important;}
.delay_25{-webkit-transition-delay:1.25s !important;-mos-transition-delay:1.25s !important;transition-delay:1.25s !important;}
.delay_26{-webkit-transition-delay:1.3s !important;-mos-transition-delay:1.3s !important;transition-delay:1.3s !important;}
.delay_27{-webkit-transition-delay:1.35s !important;-mos-transition-delay:1.35s !important;transition-delay:1.35s !important;}
.delay_28{-webkit-transition-delay:1.4s !important;-mos-transition-delay:1.4s !important;transition-delay:1.4s !important;}
.delay_29{-webkit-transition-delay:1.45s !important;-mos-transition-delay:1.45s !important;transition-delay:1.45s !important;}
.delay_30{-webkit-transition-delay:1.5s !important;-mos-transition-delay:1.5s !important;transition-delay:1.5s !important;}



.duration_0{-webkit-transition-duration:0s !important;-mos-transition-duration:0s !important;transition-duration:0s !important;}
.duration_1{-webkit-transition-duration:.05s !important;-mos-transition-duration:.05s !important;transition-duration:.05s !important;}
.duration_2{-webkit-transition-duration:.1s !important;-mos-transition-duration:.1s !important;transition-duration:.1s !important;}
.duration_3{-webkit-transition-duration:.15s !important;-mos-transition-duration:.15s !important;transition-duration:.15s !important;}
.duration_4{-webkit-transition-duration:.2s !important;-mos-transition-duration:.2s !important;transition-duration:.2s !important;}
.duration_5{-webkit-transition-duration:.25s !important;-mos-transition-duration:.25s !important;transition-duration:.25s !important;}
.duration_6{-webkit-transition-duration:.3s !important;-mos-transition-duration:.3s !important;transition-duration:.3s !important;}
.duration_7{-webkit-transition-duration:.35s !important;-mos-transition-duration:.35s !important;transition-duration:.35s !important;}
.duration_8{-webkit-transition-duration:.4s !important;-mos-transition-duration:.4s !important;transition-duration:.4s !important;}
.duration_9{-webkit-transition-duration:.45s !important;-mos-transition-duration:.45s !important;transition-duration:.45s !important;}
.duration_10{-webkit-transition-duration:.5s !important;-mos-transition-duration:.5s !important;transition-duration:.5s !important;}
.duration_11{-webkit-transition-duration:.55s !important;-mos-transition-duration:.55s !important;transition-duration:.55s !important;}
.duration_12{-webkit-transition-duration:.6s !important;-mos-transition-duration:.6s !important;transition-duration:.6s !important;}
.duration_13{-webkit-transition-duration:.65s !important;-mos-transition-duration:.65s !important;transition-duration:.65s !important;}
.duration_14{-webkit-transition-duration:.7s !important;-mos-transition-duration:.7s !important;transition-duration:.7s !important;}
.duration_15{-webkit-transition-duration:.75s !important;-mos-transition-duration:.75s !important;transition-duration:.75s !important;}
.duration_16{-webkit-transition-duration:.8s !important;-mos-transition-duration:.8s !important;transition-duration:.8s !important;}
.duration_17{-webkit-transition-duration:.85s !important;-mos-transition-duration:.85s !important;transition-duration:.85s !important;}
.duration_18{-webkit-transition-duration:.9s !important;-mos-transition-duration:.9s !important;transition-duration:.9s !important;}
.duration_19{-webkit-transition-duration:.95s !important;-mos-transition-duration:.95s !important;transition-duration:.95s !important;}
.duration_20{-webkit-transition-duration:1s !important;-mos-transition-duration:1s !important;transition-duration:1s !important;}
.duration_21{-webkit-transition-duration:1.05s !important;-mos-transition-duration:1.05s !important;transition-duration:1.05s !important;}

.duration_22{-webkit-transition-duration:1.1s !important;-mos-transition-duration:1.1s !important;transition-duration:1.1s !important;}
.duration_23{-webkit-transition-duration:1.15s !important;-mos-transition-duration:1.15s !important;transition-duration:1.15s !important;}
.duration_24{-webkit-transition-duration:1.2s !important;-mos-transition-duration:1.2s !important;transition-duration:1.2s !important;}
.duration_25{-webkit-transition-duration:1.25s !important;-mos-transition-duration:1.25s !important;transition-duration:1.25s !important;}
.duration_26{-webkit-transition-duration:1.3s !important;-mos-transition-duration:1.3s !important;transition-duration:1.3s !important;}
.duration_27{-webkit-transition-duration:1.35s !important;-mos-transition-duration:1.35s !important;transition-duration:1.35s !important;}
.duration_28{-webkit-transition-duration:1.4s !important;-mos-transition-duration:1.4s !important;transition-duration:1.4s !important;}
.duration_29{-webkit-transition-duration:1.45s !important;-mos-transition-duration:1.45s !important;transition-duration:1.45s !important;}
.duration_30{-webkit-transition-duration:1.5s !important;-mos-transition-duration:1.5s !important;transition-duration:1.5s !important;}








/**** Copy from WEUI. ****/

.mask-white-dialog {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    z-index: 1500;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
	width:100%;height:100%;
    display:none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.mask-white-dialog.show{display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;}

.m-loading {
  width: 120px;box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  padding: 21px 15px 18px 15px;
  color: #FFF;
  background-color: rgba(40, 40, 40, .8);
  text-align: center;
  animation: zoomIn .1s ease forwards;

}
  .loading-hd {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  .loading-txt {
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;
  }
.loading-leaf {
  position: relative;
  top: 19px;}
.loading-leaf:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    width: 10px;
    height: 3px;
    background-color: #FFF;
    border-radius: 1px;
    transform-origin: left 50% 0;
  }
.loading-leaf-0{animation: opacity-60-25-0-12 1s linear infinite;}
.loading-leaf-0:before{transform: rotate(0deg) translate(10px, 0px);}

.loading-leaf-1{animation: opacity-60-25-1-12 1s linear infinite;}
.loading-leaf-1:before{transform: rotate(30deg) translate(10px, 0px);}

.loading-leaf-2{animation: opacity-60-25-2-12 1s linear infinite;}
.loading-leaf-2:before{transform: rotate(60deg) translate(10px, 0px);}

.loading-leaf-3{animation: opacity-60-25-3-12 1s linear infinite;}
.loading-leaf-3:before{transform: rotate(90deg) translate(10px, 0px);}

.loading-leaf-4{animation: opacity-60-25-4-12 1s linear infinite;}
.loading-leaf-4:before{transform: rotate(120deg) translate(10px, 0px);}

.loading-leaf-5{animation: opacity-60-25-5-12 1s linear infinite;}
.loading-leaf-5:before{transform: rotate(150deg) translate(10px, 0px);}

.loading-leaf-6{animation: opacity-60-25-6-12 1s linear infinite;}
.loading-leaf-6:before{transform: rotate(180deg) translate(10px, 0px);}

.loading-leaf-7{animation: opacity-60-25-7-12 1s linear infinite;}
.loading-leaf-7:before{transform: rotate(210deg) translate(10px, 0px);}

.loading-leaf-8{animation: opacity-60-25-8-12 1s linear infinite;}
.loading-leaf-8:before{transform: rotate(240deg) translate(10px, 0px);}

.loading-leaf-9{animation: opacity-60-25-9-12 1s linear infinite;}
.loading-leaf-9:before{transform: rotate(270deg) translate(10px, 0px);}

.loading-leaf-10{animation: opacity-60-25-10-12 1s linear infinite;}
.loading-leaf-10:before{transform: rotate(300deg) translate(10px, 0px);}

.loading-leaf-11{animation: opacity-60-25-11-12 1s linear infinite;}
.loading-leaf-11:before{transform: rotate(330deg) translate(10px, 0px);}


@keyframes opacity-60-25-0-12 {
  0% {
    opacity: .25;
  }
  0.01% {
    opacity: .25;
  }
  0.02% {
    opacity: 1;
  }
  60.01% {
    opacity: .25;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacity-60-25-1-12 {
  0% {
    opacity: .25;
  }
  8.34333% {
    opacity: .25;
  }
  8.35333% {
    opacity: 1;
  }
  68.3433% {
    opacity: .25;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacity-60-25-2-12 {
  0% {
    opacity: .25;
  }
  16.6767% {
    opacity: .25;
  }
  16.6867% {
    opacity: 1;
  }
  76.6767% {
    opacity: .25;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacity-60-25-3-12 {
  0% {
    opacity: .25;
  }
  25.01% {
    opacity: .25;
  }
  25.02% {
    opacity: 1;
  }
  85.01% {
    opacity: .25;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacity-60-25-4-12 {
  0% {
    opacity: .25;
  }
  33.3433% {
    opacity: .25;
  }
  33.3533% {
    opacity: 1;
  }
  93.3433% {
    opacity: .25;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacity-60-25-5-12 {
  0% {
    opacity: .25;
  }
  41.6767% {
    opacity: .25;
  }
  41.6867% {
    opacity: 1;
  }
  1.67667% {
    opacity: .25;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacity-60-25-6-12 {
  0% {
    opacity: .25;
  }
  50.01% {
    opacity: .25;
  }
  50.02% {
    opacity: 1;
  }
  10.01% {
    opacity: .25;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacity-60-25-7-12 {
  0% {
    opacity: .25;
  }
  58.3433% {
    opacity: .25;
  }
  58.3533% {
    opacity: 1;
  }
  18.3433% {
    opacity: .25;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacity-60-25-8-12 {
  0% {
    opacity: .25;
  }
  66.6767% {
    opacity: .25;
  }
  66.6867% {
    opacity: 1;
  }
  26.6767% {
    opacity: .25;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacity-60-25-9-12 {
  0% {
    opacity: .25;
  }
  75.01% {
    opacity: .25;
  }
  75.02% {
    opacity: 1;
  }
  35.01% {
    opacity: .25;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacity-60-25-10-12 {
  0% {
    opacity: .25;
  }
  83.3433% {
    opacity: .25;
  }
  83.3533% {
    opacity: 1;
  }
  43.3433% {
    opacity: .25;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacity-60-25-11-12 {
  0% {
    opacity: .25;
  }
  91.6767% {
    opacity: .25;
  }
  91.6867% {
    opacity: 1;
  }
  51.6767% {
    opacity: .25;
  }
  100% {
    opacity: .25;
  }
}

