/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.5 'Microsoft Yahei' arial,\5b8b\4f53;color:#333;outline:0;}
a,a:hover{color:#333;}

select{
  -webkit-appearance:none;
   -moz-appearance:none;
   		appearance:none;
}
html{-webkit-font-smoothing: antialiased;/*字体抗锯齿*/font-size:0;}

body{	-webkit-user-select:none;/*文本不可选择*/
	    -ms-user-select:none;
		    user-select:none;
	-webkit-user-drag: none;/*禁止拖拽*/
	    -ms-user-drag: none;
		    user-drag: none;font-family:'Microsoft Yahei',Arial;font-size:16px;background:#fff;
			
/* -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
    filter: grayscale(100%);
  
    filter: gray;opacity:0.5 */
			
}
			
			
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000; opacity:0.4; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;opacity:0.4;
}

input:-ms-input-placeholder{
    color: #000;opacity:0.4;
}

input::-webkit-input-placeholder{
    color: #000;opacity:0.4;
}		
select.select-placeholder{
  color: rgba(0,0,0,.4) !important;
}


.penetrate{pointer-events: none;}
			
.abso{position:absolute;}			
.fixed{position:fixed;}			

.boxSizing{box-sizing:border-box;}

.ios-scroll{-webkit-overflow-scrolling: touch}



.center{
justify-content:center;
align-items:center;
display:-webkit-flex;}

.noScroll,
.noScroll body{width:100%;height:100%;overflow:hidden;}	
		
/*提示分享层*/
#fx{background:rgba(0,0,0,.7);position:fixed;left:0;top:0;height:100%;width:100%;text-align:center;display:none;z-index:9999;}
#fx img{float:right;width:4.15rem;}

#tipsBox{background:rgba(0,0,0,.7);position:fixed;left:0;top:0;height:100%;width:100%;text-align:center;display:none;z-index:9999;}
#tipsBox span{background:#ccc;padding:.2rem;border-radius:.04rem;color:#333;font-size:.25rem;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}


/*向上滑动提示箭头*/
.pt-page-moveIconUp {display:none;height:auto;width:.25rem;position:absolute;left:50%;bottom:3%;margin-left:-.12rem;-webkit-animation: moveIconUp ease 1.5s both infinite;animation: moveIconUp ease 1.5s both infinite;}
@-webkit-keyframes moveIconUp{
	0% { -webkit-transform: translateY(100%); opacity:0;}
	50% { -webkit-transform: translateY(0%); opacity:1;}
	100% { -webkit-transform: translateY(-100%); opacity:0;}
}
@keyframes moveIconUp{
	0% {transform: translateY(100%); opacity:0;}
	50% {transform: translateY(0%); opacity:1;}
	100% {transform: translateY(-100%); opacity:0;}
}

/*选中文本的颜色*/
::-moz-selection {background-color: rgba(230,224,203,0.3);color: #fff8e1;}
::selection {background-color: rgba(230,224,203,0.3);color: #fff8e1;}

.scrollBox{min-height:2.5rem;overflow-y:auto !important;-webkit-overflow-scrolling: touch;}
.scrollBox::-webkit-scrollbar {width:.06rem;}
.scrollBox::-webkit-scrollbar-thumb{background:#333;border-radius:.04rem;}
.scrollBox::-webkit-scrollbar-resizer  {background:#333;}
.scrollBox::-webkit-scrollbar-track-piece { background:rgba(0,0,0,.2);border-radius:0.04rem;}
.scrollBox .scrollNr{position:relative;}

.m-close{width:.7rem;height:.7rem;border:.02rem solid #ccc;border-radius:1000px;position: relative;}
.m-close:before{content:'';position: absolute;left:50%;top:50%;transform: translateX(-50%) rotate(-45deg);width:80%;margin:-1px;width:66%;height:2px;background:#fff;}
.m-close:after {content:'';position: absolute;left:50%;top:50%;transform: translateX(-50%) rotate(45deg) ;width:80%;margin:-1px;width:66%;height:2px;background:#fff;}

/*  开启硬件加速	*/
.threeD{
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
}

.textOver{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}


.cube {
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
 
   -webkit-perspective: 1000;
   perspective: 1000;
}


.anim_linear{
	-webkit-transition:all .8s cubic-bezier(0.165, 0.84, 0.44, 1);
	        transition:all .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.anim{
	-webkit-transition:all .8s cubic-bezier(.58,2,.68,.58);
	        transition:all .8s cubic-bezier(.58,2,.68,.58);
}
	

.rotateWindows_tips{z-index:100;background:rgba(0,0,0,.8) url(../image/rotateWindows_tips.png) no-repeat center center;position:fixed;left:0;top:0;width:100%;height:100%;display:none;}


.content{width:100%;height:100%;position:relative;overflow:hidden;margin:auto;}
.page{width:100%;height:100%;position:absolute;left:0;top:0;overflow:hidden;display:none;}
.page .nr{width:7.5rem;min-height:100%;margin:auto;position:relative;}
.page .nr:before{content:'';height:1px;display:block;margin-bottom:-1px;}


.horizontalWindows .content{position:absolute;left:50%;top:50%;-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}
.horizontalWindows .page .nr{position:absolute;width:12.06rem;height:7.5rem;min-height:auto;left:50%;top:50%;-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}

.micBtn{display:none;right:50%;margin-right:-3.46rem;top:.2rem;width:.45rem;height:.45rem;background:url(../image/mc.gif) no-repeat center top;cursor:pointer;background-size:.23rem auto;}
.micBtn.hide{background-position:center -1rem;}
.micBtn.show{background-position:center 0;}
.micBtn .cen{width:100%;height:100%;display:block;border-radius:1000px;border:.02rem solid #fff;}

/* .micBtn.show{-webkit-animation: mc linear 1.5s both infinite;animation: mc linear 1.5s both infinite;}
@-webkit-keyframes mc{
	0% { -webkit-transform: rotate(0deg);}
	100% { -webkit-transform: rotate(360deg);}
}
@keyframes mc{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
} */


.horizontalWindows .micBtn{top:auto;bottom:.75rem;
	-webkit-transform: rotate(90deg);transform: rotate(90deg);}



