
@import './reset.css';

body{background:#966;font-size:16px;}

header{
    background:rgba(100, 200, 100, .7);
    position: fixed; left:0;bottom:0;z-index:9;
    padding: .2rem;
    width:100%;
    font-size:12px;
    a{display:block;}
}

.content{height: 100vh;}